
#include "resource.h"
#define AETHER_RC_INTERNAL_NAME     "AetherGUI"
#define AETHER_RC_ORIGINAL_FILENAME "AetherGUI.exe"
#define AETHER_RC_FILE_DESCRIPTION  "Aether tablet driver - GUI"
#include "AetherVersionInfo.rc.h"

IDI_AETHER_ICON ICON "assets\\aether_logo.ico"
